@using InventoryManagement.Model
@using InventoryManagement.Model.Sort
@model IEnumerable<InventoryManagement.Model.Unit>

@{
    ViewData["Title"] = "Index";

    SortModel sortModel =(SortModel) ViewData["sortModel"];
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">


<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>



<div class="container btn-group">
    <div class="col-10">
        <h2 style="color:#04AA6D">Inventory Management</h2>
    </div>
    <div class="col-2 btn-group justify-content-end p-3">
        <a asp-action="Create" class="btn btnsmall btn-success">Create New</a>
    </div>

</div>
<table class="table" id="customers">
    <thead>
        <tr>
            <th>
                <i class="@sortModel.GetColumn("name").SortIcon" aria-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression ="@sortModel.GetColumn("name").SortExpression">
                     @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                 <i class="@sortModel.GetColumn("description").SortIcon" aria-hidden="true"></i>

                 <a asp-action="Index" asp-route-sortExpression ="@sortModel.GetColumn("description").SortExpression">
                @Html.DisplayNameFor(model => model.Description)
                 </a>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary ml-1">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger ml-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
